In [1]:
'''
Python has two basic Arithmetic Types: Integer and Floating Point Number
You can perform basic arithmetic with each one
'''

'\nPython has two basic Arithmetic Types: Integer and Floating Point Number\nYou can perform basic arithmetic with each one\n'

In [4]:
1

1

In [5]:
2**4

16

In [6]:
2/3

0.6666666666666666

In [7]:
1+1

2

In [8]:
2+3*5+5

22

In [9]:
5%2

1

In [11]:
var = 2
var

2

In [12]:
x = 2
y = 5
x+y

7

In [14]:
x = 4
print(x)
print(x+x)

4
8

In [15]:
#Strings
a = 'single quote'
b = "I can't go"
a
b

"I can't go"

In [16]:
x = "hello"
print(x)

hello

In [18]:
num = 12
name = 'Sam'
string = f'My name is {name} and my num is {num}'
print(string)

My name is Sam and my num is 12

In [20]:
s = 'hello'
print(s[-1])
print(s[0:4:1])

o
hell

In [23]:
my_list = ['a','b','c']
my_list.append('d')
print(my_list)
print(my_list[0:3])

['a', 'b', 'c', 'd']
['a', 'b', 'c']

In [24]:
my_list[0] = 1
print(my_list)

[1, 'b', 'c', 'd']

In [27]:
#Dictionay
d = {1:1, 'key':'value', 'hi':'bye','k1':[1,2,3],'k2':{'a':1}}
print(d['k1'][0])

1

In [28]:
#Tuples ie. Immutable Container
t = (1,2,3)
print(t)
print(t[2])

(1, 2, 3)
3

In [31]:
#Set
e = {1,2,3,2}
f = set([1,1,1,1,1,22,2,2,22,2,2,3])
print(e)
print(f)

{1, 2, 3}
{1, 2, 3, 22}

In [35]:
def square(num):
    return num**2

In [37]:
output = square(2)
output

4

In [38]:
square

In [40]:
x= [1,2,3,4]
[num**2 for num in x]

[1, 4, 9, 16]

In [41]:
[num**2 for num in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
seq = [1,2,3,4,5]
print(list(map(lambda x: x*2,seq)))

[2, 4, 6, 8, 10]

In [52]:
print(list(filter(lambda x:x%2 == 0, seq)))

[2, 4]

In [55]:
s = "Hello my name is Sam"
print(s.lower())
print(s.split())
print(s.split('#'))

hello my name is sam
['Hello', 'my', 'name', 'is', 'Sam']
['Hello my name is Sam']

In [56]:
########################################################################
# Exercises
########################################################################

In [57]:
# What is 7 to the power of 4
print(7**4)

2401

In [58]:
# Split this string: 
s = "Hi there Sam!"
# into a list
print(s.split())

['Hi', 'there', 'Sam!']

In [60]:
# Given the Variables:
planet = "Earth"
diameter = 12742
# Format  the string
print(f"The diameter of {planet} is {diameter} kilometers")

The diameter of Earth is 12742 kilometers

In [61]:
def findDog(s):
    return 'dog' in s.lower().split()

findDog('Is there a dog here?')

True

In [64]:
def numDogs(s):
    lst = list(s.lower().split())
    return len(list(filter(lambda x: x == 'dog',lst)))

print(numDogs('This dog runs faster than the other dog dude!'))

2